<section class="services" id="servico">
    

    <div class="conteudo">
        <h3>Nossos Serviços</h3>
        <p>Recolhemos e reciclamos lixo corporativo para impulsionar a sustentabilidade nas empresas. Nossa abordagem personalizada garante a coleta eficiente e o descarte responsável de resíduos, ajudando sua organização a alcançar metas ambientais e regulatórias</p>
        <div class="cards-container">
            <app-card text="Coleta de Resíduos"></app-card>
            <app-card text="Triagem de Materiais"></app-card>
            <app-card text="Programas Educacionais"></app-card>
        </div>    
    </div>
    <div class="direita">
        <img ngSrc="./assets/servicos.png" width="540" height="540">
    </div> 
</section>