.services {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 100px;
}
  .conteudo  {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    gap: 20px;
    width: fit-content;
  }
  .conteudo h3{
    font-size: 26px;
    margin-bottom: 98px ;
  }
  .conteudo p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 18px;
    color: #2C333C;
    width: 65%;
  }
  
  .cards-container {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    width: fit-content;
    font-weight: 700;
}

  
.direita{
    display: inline-block;
}