<app-header></app-header>
<main>
    <section class="home" id="home">
        <div class="texto">
            <p>EcoMais</p>
            <h1>Transformando Residuos em <span>Recursos</span></h1>
        </div>
        <img ngSrc="/assets/home.png" width="440" height="440" priority>
    </section>
    <div class= "saiba"> 
        <p>Com soluções inovadoras, transformamos resíduos em recursos valiosos, promovendo um ciclo econômico mais sustentável e responsável. Junte-se a nós na jornada rumo a um futuro mais limpo e consciente.</p>
        <button>Saiba Mais</button>
    </div>
    <app-about></app-about>
    <app-services></app-services>
</main>
<app-contact></app-contact>
<div class="direitos">
    <p>© 2024 EcoMais. Todos os direitos reservados.</p>
</div>